html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .4em .75em .3em;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: 0em  1em 1em;
}

a {
  border-radius: 8px;
  text-align: center;
  padding: 0.7em;
  text-decoration: none;
}

.btn-small {
  font-size: .875rem;
}

.btn-medium {
  font-size: 1.125rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn {
  color: #fff;
  background-color: #333;
  display: inline-block;
}

.btn:hover {}

.btn-subtle {
  color: #fff;
  background-color: #ccc;
}

.btn-subtle:hover {}

.btn-ghost {
  border: #ccc;
  color: #333;
  background-color: #fff;
}

.btn-ghost:hover {}

.btn-warning {
  color: #fff;
  background-color: #f33;
}

.btn-warning:hover {}
